*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'century gothic';
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: auto;
    margin: 20px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.cuerpo{
    margin: 20px;
}

p{
    padding: 10px;
}